[submodule "cmake"]
	path = cmake
	url = https://github.com/chronoxor/CppCMakeScripts.git
	branch = master
[submodule "modules/catch"]
	path = modules/catch
	url = https://github.com/philsquared/Catch.git
	branch = master
[submodule "modules/cpp-optparse"]
	path = modules/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse.git
	branch = master
[submodule "modules/HdrHistogram"]
	path = modules/HdrHistogram
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
	branch = master
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
	branch = master
